<!DOCTYPE html>
<html lang="en" style="width: 100%;height: 100%;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{title}}</title>
    <meta name="description" content="Independent designer, programmer">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:500,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&amp;display=swap">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body class="d-flex d-md-flex justify-content-center align-items-center justify-content-md-center align-items-md-center" style="width: 100%;">
    <div class="text-break" id="main" style="margin-top: 10%;box-shadow: 5px 5px 0px 5px rgb(0,0,0);border: 2px solid rgb(0,0,0);padding: 15px;font-family: Inter, sans-serif;">
        {{content}}
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
